
body{
	width: 1000px;
}
.center{
	background: url('images/blue_sky.jpg');
	text-align: center;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}


#gun{
	margin-top: 100px;
	float: left;
	display: inline-block;
	background: url('images/craft.png');	
	width: 300px;
	height: 300px;
	-webkit-animation: shoot-gun 2s steps(13) infinite;
	animation: shoot-gun 2s steps(13) infinite;
}
 
#rocket{
	margin-top: 100px;
	float: left;
	display: inline-block;
	background: url('images/rocket.png');	
	width: 150px;
	height: 300px;
	-webkit-animation: rocket 1s steps(8) infinite;
	animation: rocket 1s steps(8) infinite;
} 

@-webkit-keyframes rocket {
	from{ background-position: 0 0}
	to{ background-position: -1200px 0}
}

@keyframes rocket {
	from{ background-position: 0 0}
	to{ background-position: -1200px 0}
}

#heart{
	margin-top: 100px;
	float: left;
	display: inline-block;
	background: url('images/hearts.png');	
	width: 200px;
	height: 200px;
	-webkit-animation: heart 2s steps(18) infinite;
	animation: heart 2s steps(18) infinite;
} 

@-webkit-keyframes heart {
	from{ background-position: 0 0}
	to{ background-position: -3600px 0}
}

@keyframes heart {
	from{ background-position: 0 0}
	to{ background-position: -3600px 0}
}

#pistol{
	margin-top: 100px;
	float: left;
	display: inline-block;
	background: url('images/gunSheet.png');	
	width: 210px;
	height: 110px;
	-webkit-animation: gun 1s steps(6) infinite;
	animation: gun 1s steps(6) infinite;
} 

@-webkit-keyframes gun {
	from{ background-position: 0 0}
	to{ background-position: -1260px 0}
}

@keyframes gun {
	from{ background-position: 0 0}
	to{ background-position: -1260px 0}
}

.ground{
	background: url('images/moon.jpg') no-repeat center;
	background-size: 100% 100%;
	width: 100%;
	border-top: 3px solid #666;
	height: 400px;
}

@-webkit-keyframes shoot-gun {
	from{ background-position: 0 0}
	to{ background-position: -3900px 0}
}

@keyframes shoot-gun {
	from{ background-position: 0 0}
	to{ background-position: -3900px 0}
}
.clear{
	clear: both;
}
